.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  font-size: 20px;
  width: 400px;
  padding: 20px 20px;
}

li {
  display: inline;
  list-style: none;
  font-size: 24px;
  padding-right: 20px;
  cursor: pointer;
}

li:last-child {
  padding-right: 0;
}

.message {
  font-size: 24px;
  padding: 20px 0;
}
